<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://www.pngkey.com/png/detail/233-2332677_ega-png.png" 
            alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versao do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href = "#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada massa felis, id vestibulum nunc bibendum vel. Sed cursus bibendum erat a lacinia. Morbi pretium metus non nisl malesuada, gravida condimentum elit varius.
            </a>
        </p>

    </div>
</div>