
<app-menu-title></app-menu-title>
<div class = "container__articles">
    <div class="articles_main">
        <app-big-card 
        Id="1"  
        photoCover="./assets/animacao.jpg"
        cardTitle="NOVO FILME DE ANIMACAO"
        cardDescription="Sera lancado em 2025"></app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
        Id="2"  
        photoCover="./assets/acao.webp"
        cardTitle="NOVO FILME DE ACAO"
        ></app-small-card>
        <app-small-card
        Id="3"  
        photoCover="./assets/aventura.jpg"
        cardTitle="NOVO FILME DE AVENTURA"
        ></app-small-card>
        <app-small-card
        Id="4"  
        photoCover="./assets/terror.webp"
        cardTitle="NOVO FILME DE TERROR"
        ></app-small-card>
    </div>
</div>